*{
    background: #f3f5fc;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    height: 110vh;    
}
.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 120%; 

}

.container {
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 20px;  
}
main{
    display: flex;
    margin-left: 20px;
    flex-direction: row;  
     
}
.input, .ouput{
    display: flex;
    flex-direction: column;
    margin: 0 20px;

}
.input-text{
    border: none;
    color: #0a3871;
    padding: 100px;
    text-transform: lowercase;
    height: 80vh;
    resize: none;
}
::placeholder{color: #0a3871;}
.input-text:focus{
    outline: none;
}
.informacion-container{
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 18px;
}
.informacion-icon{
    font-size: 20px;
    margin-right: 8px;
    color: #6c757d;
}
.informacion{
    color: #495057;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.4);
    font-size: 12px;
    
}
.buttons{
    display: flex;
    margin-top: 18px;
}

.encriptar, .desencriptar, .copiar{
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-size: 24px;
    cursor: pointer;
    height: 67px;
    width: 328px;
    max-width: 328px;
    flex: 1;
}
.encriptar{
    background-color: #0a3871;
    color: white;
}
.desencriptar{
    background: #d8dfe8;
    color: #0a3871;
    margin-left: 30px;
}
.ouput{
    background: white;
    align-items: center;
    align-content: center;
    border-radius: 24px;
    max-width: 100%;
    height: 105vh;   
    border: 5px solid rgba(128, 128, 128, 0.090);
}

.ouput-text{
    background: none;
    height: 600px;
    border: none;
}
.ouput-text:focus{
    outline: none;
}

.ouput-info-text{
    background: none;
    display: flex;
    background-image: url(../img/Muñeco.png);
    background-size: 236px 204px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    align-content: center;
    width: 300px;
    min-height: 100%;   
    flex-direction: column;
}
.ouput-info-text-adver, .ouput-info-text-alert{
    background: none;
}
.ouput-info-text-alert{
    color: #343A40;
    font-size: 24px;
    font-weight: bold;
    margin-top: 420px;
    padding: 0px;

}
.ouput-info-text-adver{
    color: #495057;
    font-size: 16px;
    font-weight: normal;
    
}

.copy-button-container{
    background: none;
    margin: 20px;
    margin-top: 100px;
    height: 115PX;
}

.copiar{   
    background: none;
    color: #0a3871;  
}


