*{
    background: #f3f5fc;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    height: 98vh;  
    margin: 0;
  
    
}
.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 120%; 

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 20PX;  
}
main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width:  100%;

}
section{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.input-text, .ouput-text{
    border: none;
    color: #0a3871;
    padding: 20px;
    margin-top: 90px;
    text-transform: lowercase;
    width: 100%;
    max-width: 500px;
    height: 200px;
    resize: none;
}
::placeholder{color: #0a3871;}
.input-text:focus{
    outline: none;
}
.informacion{
    color: #495057;
    font-size: 18px;    
    margin-top: 10px;
}
.ouput-text{
    background: rgb(230, 45, 45);
    background-image: url(../img/Muñeco.png);
    background-repeat: no-repeat;
    border-radius: 24px;
    margin-left: 98px;
    padding-left: 20px;
    margin-top: 20px;
    position: fixed;
}
.ouput-text:focus{
    outline: none;
}

.buttons{
    display: flex;
    margin-top: 18px;
}
.encriptar, .desencriptar, .copiar{
    border: 1px solid #0a3871;
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    width: 328px;


}
.encriptar{
    background-color: #0a3871;
    color: white;
}
.desencriptar{
    background: #d8dfe8;
    color: #0a3871;
    margin-left: 30px;
}
.copiar{
    color: #0a3871;
    margin-left: 10px;
    margin-top: 345px;
    position: absolute;
}
